* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri";
  overflow-x: hidden;
}

body {
  background-color: #fff;
  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.grid {
  display: grid;
}

.grid-five-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
}
.container {
  max-width: 127rem !important;
  margin: 0 auto !important;
  /* padding: 2.4rem 0; */
}
.cart-container {
  max-width: 100rem !important;
  margin: 0 auto !important;
  /* padding: 2.4rem 0; */
}
